.about .title {
	font-size: xx-large;
	text-align: left;
	letter-spacing: 0.5rem;
	padding-left: 15vw;
	color: rgba(255, 255, 255, 0.452);
}

.about p {
	letter-spacing: 0.15rem;
	font-size: 1.2rem;
}

.about h2,
.about p {
	padding: 1rem 1rem 1rem 2rem;
	margin: 0;
}

.about .underline {
	width: 8rem;
	height: 2px;
	background: salmon;
	margin-left: 15vw;
	margin-top: -2rem;
}

.about .container{
	display: flex;
	flex-direction: column;
	row-gap: 10rem;
	padding: 10rem 0;
}

.about .container .item{
	text-align: left;
	overflow: hidden;
}

.about img {
	padding-top: 2rem;
	width: 100vw;
	object-fit: fill;
}

.about .story {
	text-align: right;
	background-color: rgba(68, 68, 68, 0.322);
	padding: 5rem 0;
	margin: 0 1rem;
}

.about .story h2 {
	padding-right: 2rem;
}

.about .story p, .about .team p {
	margin: 0;
	padding: 2rem;
	line-height: 3rem;
	font-size: 1.5rem;
}
