.about .title {
	font-size: xx-large;
	text-align: left;
	letter-spacing: 0.5rem;
	padding-left: 15vw;
	color: rgba(255, 255, 255, 0.452);
}

.about .underline {
	width: 8rem;
	height: 2px;
	background: salmon;
	margin-left: 15vw;
	margin-top: -2rem;
}

.about .mission, .about .vision {
	text-align: left;
	overflow: hidden;
	padding-top: 8rem;
}

.about .vision{
	padding-bottom: 5rem;
}

.about .space{
	height: 5rem;
}

.about p {
	letter-spacing: 0.15rem;
	font-size: 1.2rem;
}

.about h2, .about p{
	padding-left: 2rem;
}

.about img{
	padding: 2rem 0 0 0;
	width: 100vw;
	object-fit:fill;
}

.about .story{
	text-align: right;
	background-color: rgba(68, 68, 68, 0.322);
	padding: 5rem 0;
	margin: 0 1rem;
}

.about .story h2{
	padding-right: 2rem;
}

.about .story p{
	margin: 0;
	font-size: 1.5rem;
	padding: 2rem;
	line-height: 3rem;
}