.App {
	text-align: center;
	background: black;
	color: white;
	/* font-size: calc(10px + 2vmin); */
	min-height: 100vh;
}

.separator {
	width: 80vw;
	height: 2px;
	background-color: rgba(240, 248, 255, 0.377);
	display: block;
	margin: auto;
}