body {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

.nav .nav-active {
	height: 100vh;
}

.McButton-container,
.McButton,
.bar1,
.bar2,
.bar3,
.menu,
h1 {
	z-index: 1;
}

.McButton-container {
	position: relative;
	padding-right: 2rem;
}

.McButton {
	position: absolute;
	top: 32%;
	right: 100%;
	width: 44px;
	height: 33px;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	position: absolute;
	left: 0;
	width: 44px;
	height: 3px;
	background-color: white;
}

.McButton b:nth-child(1) {
	top: 0;
}

.McButton b:nth-child(2) {
	top: 50%;
}

.McButton b:nth-child(3) {
	top: 100%;
}

.nav-bar {
	background-color: black;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: space-between;
	color: white;
	z-index: 99;
}

.nav-bar-active {
	position: relative;
	top: 0;
	background-color: white;
	color: #282c34;
}

.McButton-active {
	background-color: #282c34;
}

.menu {
	position: absolute;
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
	visibility: hidden;
	background-color: white;
	color: #282c34;
	opacity: 0;
}

.menu a {
	text-decoration: none;
	color: #282c34;
}

.menu-item:hover {
	animation: headShake;
	animation-duration: 2s;
	opacity: 0.5;
}

.menu-active {
	visibility: visible;
	opacity: 1;
	min-height: 100vh;
	position: relative;
}

.menu li {
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.logo {
	color: white;
}
