video {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 50rem;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	filter: brightness(30%);
}

.home h1,
.home button{
	position: relative;
	z-index: 1;
}

.home h1 {
	padding-top: 2rem;
	text-align: left;
	font-size: 2.7rem;
}

.home button {
	align-self: left;
	margin-left: 2rem;
	background: none;
	color: white;
	border: 0.1rem solid white;
}

.home button:hover {
	background: white;
	color: #282c34;
}

.home .collection {
	padding: 10rem 5rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.home img {
    position: relative;
	width: 70vw;
	padding: 1rem 0;
	border-radius: 50%;
}

.services{
	background: white;
	color: #282c34;
	padding: 2rem;
}

.services h1{
	padding: 2rem 0;
	margin: 0;
	text-align: center;
}

.services img{
	border-radius: 20%;
}

.invisible{
	visibility: hidden;
}