body {
	margin: 0;
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	font-size: 10px;
}

h1 {
	padding-left: 2rem;
}

button {
    display: block;
	border-radius: 0.7rem;
	padding: 0.8rem 1rem;
	font-size: 1.4rem;
}

a{
	text-decoration: none;
}

button:hover{
	cursor: pointer;
}

@media screen and (min-width: 425px) {
	html {
		font-size: 12px;
	}
}
